<div class="container">
  <div class="row col-sm">
    <!-- Button trigger modal -->
    <div class="col-sm text-center">
      <button type="button" class="btn btn-link " data-toggle="modal" data-target="#addAuthorModal">
        Add new author
      </button>
    </div>

  </div>
  <div *ngFor="let author of authors|async">
    <div class="col-sm fa-2x border text-center">{{author.name}}
      <button type="button" class="btn btn-outline-secondary ml-3"  data-toggle="modal" data-target="#updateAuthorModal" (click)="selectAuthor(author)">Edit</button>
      <button type="button" class="btn btn-outline-warning ml-2"  data-toggle="modal" data-target="#deleteAuthorModal"  (click)="selectAuthor(author)">Delete</button>
    </div>
    <div class="row">
      <div class="col-sm text-center font-italic font-weight-bold text-light bg-dark ">Book Title</div>
      <div class="col-sm text-center font-italic font-weight-bold text-light bg-dark">Genre</div>
    </div>

    <div *ngFor="let book of author.books" class="row text-center">
      <div class="col-sm text-center border">{{book.title}}</div>
      <div class="col-sm text-center border">{{book.genre.name}}</div>
    </div>

  </div>

  <!-- Modal addition  -->
  <div class="modal fade" id="addAuthorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Author addition...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Author name" aria-label="Author name" aria-describedby="basic-addon1" required="required" [(ngModel)]="additionAuthor.name">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveAuthor()" data-dismiss="modal" >Save author</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Update  -->
  <div class="modal fade" id="updateAuthorModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Edit author ...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Author name" aria-label="Author name" aria-describedby="basic-addon1" [(ngModel)]="selectedAuthor.name">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="updateAuthor()" data-dismiss="modal" >Update author</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteAuthorModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="daleteModalLabel">Delete author ...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <label class="col-form-label" >{{selectedAuthor.name}}</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="deleteAuthor()" data-dismiss="modal" >Delete author</button>
        </div>
      </div>
    </div>
  </div>

</div>
